:root{
  --roxo: #84e;
  --borda: 4px solid blue;
  --fonte-grade: 3rem;
}

h1{
  font-size: var(--fonte-grade);
  color: var(--roxo);
}

p{
  --roxo: #222;
  font-size: calc(var(--fonte-grade) /2) ;
  margin-top: var(--fonte-grade);
  color: var(--roxo);
  border: var(--borda);
}